* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
} 

header h1 {
  text-align: center;
  font-weight: 480;
  color: #F9F4DA;
}

header p {
  text-align: center;
  max-width: 500px;
}

.game-status {
  background-color: #10A95B;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.powerup > button {
  background-color: #d43b63;
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

.box {
  width: 40px;
  height: 40px;
  background-color: #1c151e;
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.gem {
  background-color: #10A95B;
  font-size: 28px;
}

.bomb {
  background-color: #EC5D49;
  font-size: 28px;
}

.bomb.clicked::before {
  content: "💀";
}

.gem.clicked::before {
  content: "💎";
}

.boxes {
  display: grid;
  grid-template-columns: repeat(16, 40px);
  width: auto;
  gap: 8px;
}

.select{
  background-color: #3ac2dd;
  border: none;
  padding: 5px;
  border-radius: 3px;
}


.newGame {
  background-color: #01be7f;
  padding: 11px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.2rem;
}